<div class="actionBox">
    <div class="tabs">
        <ul>
            <li>
                <a id="showOpenStreetMap" ng-class="mapfs.OpenStreetMap_class" href="#/showOpenStreetMap">OpenStreetMap</a>
            </li><li>
                <a id="showGoogleMap" ng-class="mapfs.GoogleMap_class" href="#/showGoogleMap">GoogleMap</a>
            </li><li>
                <a id="showHybridMap" ng-class="mapfs.HybridMap_class" href="#/showHybridMap">HybridMap</a>
            </li>
        </ul>
    </div>
    <div class="geolocation">
        <a id="currentPositionBtn" ng-click="getGeolocation()">
            <div class="currentPositionBtn">
                <div class="north"></div>
                <div class="east"></div>
                <div class="south"></div>
                <div class="west"></div>
            </div>
        </a>
        <div class="positionOptions">
            <input id="enableHighAccuracy" type="checkbox" ng-model="enableHighAccuracy"><label for="enableHighAccuracy">enableHighAccuracy</label>
            <input id="timeout" ng-model="timeout" type="text" placeholder="timeout (8000 ms)">
            <input id="maximumAge" ng-model="maximumAge" type="text" placeholder="maximumAge (0 ms)">
        </div>
    </div>
    <div class="searchBox">
        <input id="searchAddress" ng-model="searchAddress" placeholder="Search Address" autocomplete="{{fs.autocomplete}}" />
        <button ng-hide="fs.hideButton" ng-click="searchAction()">Search</button>
    </div>
</div>
